
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^codewills\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.codewills\.com$
RewriteRule ^/?$ "https\:\/\/www\.codewills\.com\/" [R=301,L]
RewriteRule ^/?$ /index.php
RewriteRule ^/?website-development-services$ /webdev.php
RewriteRule ^/?mobile-app-development-services$ /mobileappdev.php
RewriteRule ^/?ui-ux-design-services$ /webdesign.php
RewriteRule ^/?web-application-development-services$ /webappdev.php
RewriteRule ^/?digital-marketing-services$ /digitalmarketing.php
RewriteRule ^/?ceo-message$ /ceoMessage.php
RewriteRule ^/?corporate-social-responsibility$ /csr.php
RewriteRule ^/?empowerment-of-employees$ /employeeEmpowerment.php
RewriteRule ^/?global-approach$ /globalApproach.php
RewriteRule ^/?leadership$ /leadership.php
RewriteRule ^/?life-at-codewills$ /lifeAtCodewills.php
RewriteRule ^/?sustainability-strategy$ /sustainabilitystrategy.php
RewriteRule ^/?about-us$ /about.php
RewriteRule ^/?about-hashroot$ /aboutHashroot.php
RewriteRule ^/?capabilities$ /capabilities.php
RewriteRule ^/?contact-us$ /contact.php
RewriteRule ^/?terms-of-service$ /terms-of-service.php
RewriteRule ^/?non-disclosure-agreement$ /non-disclosure-agreement.php
RewriteRule ^/?privacy-policy$ /privacy-policy.php
RewriteRule ^/?acceptable-user-policy$ /acceptable-user-policy.php
RewriteRule ^/?information-audit-document$ /information-audit-document.php
RewriteRule ^/?data-processing-agreement$ /data-processing-agreement.php
RewriteRule ^/?business-continuity-plan$ /business-continuity-plan.php
RewriteRule ^/?pricing$ /pricing.php
ErrorDocument 404 /404.php



















