
RewriteEngine on


RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^codewills\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.codewills\.com$


RewriteRule ^(.*)$ https://www.codewills.com/$1 [R=301,L]
RewriteCond %{QUERY_STRING} id=3
RewriteRule ^index\.php$ /? [L,R=301]
#Redirect 301 https://www.codewills.com/index.php https://www.codewills.com/
#Redirect 301  ^/index.php?$ ^/?$
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header set X-XSS-Protection "1; mode=block"
Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-Content-Type-Options "nosniff"
Header always set Referrer-Policy "strict-origin"
Header always set Permissions-Policy "geolocation=(),midi=(),sync-xhr=(),microphone=(),camera=(),magnetometer=(),gyroscope=(),fullscreen=(self),payment=()"


RewriteRule ^/?$ /index.php
RewriteRule ^/?website-development-services$ /webdev.php
RewriteRule ^/?mobile-app-development-services$ /mobileappdev.php
RewriteRule ^/?ui-ux-design-services$ /webdesign.php
RewriteRule ^/?web-application-development-services$ /webappdev.php
RewriteRule ^/?digital-marketing-services$ /digitalmarketing.php
RewriteRule ^/?ceo-message$ /ceoMessage.php
RewriteRule ^/?corporate-social-responsibility$ /csr.php
RewriteRule ^/?empowerment-of-employees$ /employeeEmpowerment.php
RewriteRule ^/?global-approach$ /globalApproach.php
RewriteRule ^/?leadership$ /leadership.php
RewriteRule ^/?life-at-codewills$ /lifeAtCodewills.php
RewriteRule ^/?sustainability-strategy$ /sustainabilitystrategy.php
RewriteRule ^/?about-us$ /about.php
RewriteRule ^/?about-hashroot$ /aboutHashroot.php
RewriteRule ^/?capabilities$ /capabilities.php
RewriteRule ^/?contact-us$ /contact.php
RewriteRule ^/?terms-of-service$ /terms-of-service.php
RewriteRule ^/?non-disclosure-agreement$ /non-disclosure-agreement.php
RewriteRule ^/?privacy-policy$ /privacy-policy.php
RewriteRule ^/?acceptable-user-policy$ /acceptable-user-policy.php
RewriteRule ^/?information-audit-document$ /information-audit-document.php
RewriteRule ^/?data-processing-agreement$ /data-processing-agreement.php
RewriteRule ^/?business-continuity-plan$ /business-continuity-plan.php
RewriteRule ^/?pricing$ /pricing.php
ErrorDocument 404 /404.php




# 1.BEGIN Gzip cloudington

<IfModule mod_deflate.c>
# Compress HTML, CSS, JavaScript, Text, XML and fonts
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE application/x-font
AddOutputFilterByType DEFLATE application/x-font-opentype
AddOutputFilterByType DEFLATE application/x-font-otf
AddOutputFilterByType DEFLATE application/x-font-truetype
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE font/opentype
AddOutputFilterByType DEFLATE font/otf
AddOutputFilterByType DEFLATE font/ttf
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE image/x-icon
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/xml

# Remove browser bugs (only needed for really old browsers)
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
Header append Vary User-Agent
</IfModule>

# END Gzip cloudington


<IfModule mod_expires.c>
  ExpiresActive On

 # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Video
  ExpiresByType video/webm "access plus 1 year"
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"

  # Fonts
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/otf "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType font/woft2 "access plus 1 year"
  ExpiresByType application/font-woff "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Others
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
</IfModule>


# BEGIN Cache-Control Headers
<ifModule mod_headers.c>
<filesMatch "\.(ico|jpe?g|png|gif|swf)$">
Header set Cache-Control "public"
</filesMatch>
<filesMatch "\.(css)$">
Header set Cache-Control "public"
</filesMatch>
<filesMatch "\.(js)$">
Header set Cache-Control "private"
</filesMatch>
<filesMatch "\.(x?html?|php)$">
Header set Cache-Control "private, must-revalidate"
</filesMatch>
</ifModule>
# END Cache-Control Headers

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php74” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php74___lsphp .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
